<html>
<head></head>
<body>
<section>
    <form action="/rooms/<$ roomId $>/topics" method="post" data-refresh="true">
        <div class="form-group">
            <input class="required form-control" placeholder="标题" name="title" type="text" autofocus />
        </div>
        <div class="lcb-login-box-bottom">
            <button class="btn-info btn btn-lg pull-right" type="submit">
                创建
                <i class="fa fa-sign-in"></i>
            </button>
        </div>
    </form>
</section>
</body>
</html>
